/*
File Name: Home.module.css 
Student Name: Gichul Jaun
Student ID: 301375948
Course: COMP229-408
Date: October 1, 2024
*/

.carousel-img {
  width: 100%;
  height: 800px;
}

/* @media screen and (max-width: 400px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
} */
