/*
File Name: project.module.css 
Student Name: Gichul Jaun
Student ID: 301375948
Course: COMP229-408
Date: October 1, 2024
*/

.img {
  width: 420px;
}

p {
  font-size: var(--main-font-size);
}

div a {
  text-decoration: none;
  font-size: var(--small-font-size);
}
