:root {
  --small-font-size: 22px;
  --main-font-size: 24px;
  --large-font-size: 30px;
}

body {
  box-sizing: border-box;
}

.active {
  border-bottom: 2px solid;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: var(--small-font-size);
}
